.container {
    width: 60vw;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    h2{
        text-align: center;
        font-size: 40px;
        margin-bottom: 54px;
        margin-top: 0;
    }
}
.backgroung-page{
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(13 110 253 / 70%);
    display: grid;
    place-items: center;
}
.qrcode-container {
    margin: auto;
    width: max-content;
}
