<div class="backgroung-page">
    <div class="container">
        <h2>GENERADOR DE QR</h2>
        <div class="input-group mb-3">
            <div class="url-input">
                <input [(ngModel)]="qrToCreate" type="text" class="form-control"
                placeholder="https://www.instagram.com/generaci.on/" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            </div>
            <div class="button-generate">
                <button (click)="createQR()" class="btn btn-outline-primary" type="button" id="button-addon2">Generar
                    QR</button>
            </div>
        </div>
        <div class="qrcode-container">
            <qrcode #qrcode elementType="img" [qrdata]="myAngularxQrCode" [errorCorrectionLevel]="'M'">
            </qrcode>
        </div>
        <div class="text-center">
            <button [hidden]="!imgCreated" type="button" class="btn btn-outline-light">
                <a> Descargar imagen</a>
            </button>
        </div>
    </div>
</div>